<ion-content style="width: 100%; height: 50%; top: 12%;">
  <ion-item>
    <ion-label position="floating">Digite a descrição da conta</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite o valor a pagar</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data do pagamento</ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" pickerFormat="DD MMM YYYY" monthShortNames="{{months}}"
      placeholder="Selecione a data" doneText="Ok" cancelText="Cancelar">
    </ion-datetime>
  </ion-item>
</ion-content>
<ion-content>
  <ion-item-divider class="ionItemDivider">
    <ion-label>
      Registros
    </ion-label>
    <ion-button style="position: relative; left: 36%;" size="small">Adicionar conta</ion-button>
  </ion-item-divider>
</ion-content>
<ion-content class="ionContent">
  <ion-list class="ionList">
    <ion-item *ngFor="let item of items">
      <ion-label>
        {{item.name}}:
      </ion-label>
      <ion-label>
        {{item.valor}}
      </ion-label>
      <ion-label>
        {{item.date}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>