<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-label>
                Registros
            </ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item style="text-align: center;">
            <ion-label style="background-color: #222428; color: white; padding: 2%;">Meses</ion-label>
            <ion-label style="background-color: #222428; color: white; padding: 2%;">Gastos Totais</ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Janeiro
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Fevereiro
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Março
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Abril
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Maio
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Junho
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
        <ion-item style="text-align: center;">
            <ion-label>
                Julho
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>

        <ion-item style="text-align: center;">
            <ion-label>
                Agosto
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>

        <ion-item style="text-align: center;">
            <ion-label>
                Setembro
            </ion-label>
            <ion-label>
                R$ 2490,90
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>