:root {
--black: #000000;
--night: #0C090A;
--gunmetal: #2C3539;
--midnight: #2B1B17;
--charcoal: #34282C;
--darkslategrey: #25383C;
--oil: #3B3131;
--blackcat: #413839;
--iridium: #3D3C3A;
--blackeel: #463E3F;
--blackcow: #4C4646;
--graywolf: #504A4B;
--vampiregray: #565051;
--graydolphin: #5C5858;
--carbongray: #625D5D;
--ashgray: #666362;
--cloudygray: #6D6968;
--smokeygray: #726E6D;
--gray: #736F6E;
--granite: #837E7C;
--battleshipgray: #848482;
--graycloud: #B6B6B4;
--graygoose: #D1D0CE;
--platinum: #E5E4E2;
--metallicsilver: #BCC6CC;
--bluegray:#98AFC7;
--lightslategray: #6D7B8D;
--slategray: #657383;
--jetgray: #616D7E;
--mistblue: #646D7E;
--marbleblue: #566D7E;
--slateblue: #737CA1;
--steelblue: #4863A0;
--bluejay:#2B547E;
--darkslateblue: #2B3856;
--midnightblue:#151B54;
--navyblue: #000080;
--bluewhale: #342D7E;
--lapisblue: #15317E;
--denimdarkblue: #151B8D;
--earthblue: #0000A0;
--cobaltblue: #0020C2;
--blueberryblue: #0041C2;
--sapphireblue: #2554C7;
--blueeyes: #1569C7;
--royalblue: #2B60DE;
--blueorchid: #1F45FC;
--bluelotus: #6960EC;
--lightslateblue: #736AFF;
--windowsblue: #357EC7;
--glacialblueice: #368BC1;
--silkblue: #488AC7;
--blueivy: #3090C7;
--bluekoi: #659EC7;
--columbiablue: #87AFC7;
--babyblue: #95B9C7;
--lightsteelblue: #728FCE;
--oceanblue: #2B65EC;
--blueribbon: #306EFF;
--bluedress: #157DEC;
--dodgerblue: #1589FF;
--cornflowerblue: #6495ED;
--skyblue: #6698FF;
--butterflyblue: #38ACEC;
--iceberg: #56A5EC;
--crystalblue: #5CB3FF;
--deepskyblue: #3BB9FF;
--denimblue: #79BAEC;
--lightskyblue: #82CAFA;
--dayskyblue: #82CAFF;
--jeansblue: #A0CFEC;
--blueangel: #B7CEEC;
--pastelblue: #B4CFEC;
--seablue: #C2DFFF;
--powderblue: #C6DEFF;
--coralblue: #AFDCEC;
--lightblue: #ADDFFF;
--robineggblue:#BDEDFF;
--palebluelily:#CFECEC;
--lightcyan:#E0FFFF;
--water: #EBF4FA;
--aliceblue: #F0F8FF;
--azure: #F0FFFF;
--lightslate: #CCFFFF;
--lightaquamarine: #93FFE8;
--electricblue: #9AFEFF;
--aquamarine: #7FFFD4;
--cyanoraqua: #00FFFF;
--tronblue: #7DFDFE;
--bluezircon:#57FEFF;
--bluelagoon: #8EEBEC;
--celeste:#50EBEC;
--bluediamond: #4EE2EC;
--tiffanyblue:#81D8D0;
--cyanopaque: #92C7C7;
--bluehosta:#77BFC7;
--northernlightsblue: #78C7C7;
--mediumturquoise: #48CCCD;
--turquoise: #43C6DB;
--jellyfish: #46C7C7;
--bluegreen:#7BCCB5;
--macawbluegreen: #43BFC7;
--lightseagreen:#3EA99F;
--darkturquoise:#3B9C9C;
--seaturtlegreen:#438D80;
--mediumaquamarine: #348781;
--greenishblue: #307D7E;
--grayishturquoise: #5E7D7E;
--beetlegreen: #4C787E;
--teal: #008080;
--seagreen: #4E8975;
--camouflagegreen: #78866B;
--sagegreen:#848b79;
--hazelgreen: #617C58;
--venomgreen:#728C00;
--ferngreen:#667C26;
--darkforestgreen:#254117;
--mediumseagreen: #306754;
--mediumforestgreen:#347235;
--seaweedgreen:#437C17;
--pinegreen:#387C44;
--junglegreen:#347C2C;
--shamrockgreen:#347C17;
--mediumspringgreen:#348017;
--forestgreen:#4E9258;
--greenonion:#6AA121;
--springgreen:#4AA02C;
--limegreen:#41A317;
--clovergreen:#3EA055;
--greensnake:#6CBB3C;
--aliengreen:#6CC417;
--greenapple: #4CC417;
--yellowgreen: #52D017;
--kellygreen:#4CC552;
--zombiegreen:#54C571;
--froggreen:#99C68E;
--greenpeas:#89C35C;
--dollarbillgreen:#85BB65;
--darkseagreen:#8BB381;
--dark: #222428;
--iguanagreen:#9CB071;
--avocadogreen:#B2C248;
--pistachiogreen:#9DC209;
--saladgreen:#A1C935;
--hummingbirdgreen:#7FE817;
--nebulagreen:#59E817;
--stoplightgogreen:#57E964;
--algaegreen:#64E986;
--jadegreen:#5EFB6E;
--green:#00FF00;
--emeraldgreen:#5FFB17;
--lawngreen:#87F717;
--chartreuse:#8AFB17;
--dragongreen:#6AFB92;
--mintgreen:#98FF98;
--greenthumb:#B5EAAA;
--lightjade:#C3FDB8;
--teagreen:#CCFB5D;
--greenyellow: #B1FB17;
--slimegreen:#BCE954;
--goldenrod:#EDDA74;
--harvestgold:#EDE275;
--sunyellow:#FFE87C;
--yellow:#FFFF00;
--cornyellow:#FFF380;
--parchment:#FFFFC2;
--cream:#FFFFCC;
--lemonchiffon:#FFF8C6;
--cornsilk:#FFF8DC;
--beige:#F5F5DC;
--blonde:#FBF6D9;
--antiquewhite:#FAEBD7;
--champagne:#F7E7CE;
--blanchedalmond:#FFEBCD;
--vanilla:#F3E5AB;
--tanbrown:#ECE5B6;
--peach:#ECE5B6;
--mustard:#FFE5B4;
--rubberduckyyellow:#FFDB58;
--brightgold:#FFD801;
--goldenbrown:#FDD017;
--macaroniandcheese:#EAC117;
--saffron:#F2BB66;
--beer:#FBB917;
--cantaloupe:#FBB117;
--beeyellow:#FFA62F;
--brownsugar:#E9AB17;
--burlywood:#E2A76F;
--deeppeach:#DEB887;
--gingerbrown:#FFCBA4;
--schoolbusyellow:#C9BE62;
--sandybrown:#E8A317;
--fallleafbrown:#EE9A4D;
--orangegold:#C8B560;
--sand:#D4A017;
--cookiebrown: #C2B280;
--caramel:#C7A317;
--brass:#C68E17;
--khaki:#B5A642;
--camelbrown:#ADA96E;
--bronze:#C19A6B;
--tigerorange:#CD7F32;
--cinnamon:#C88141;
--bulletshell:#C58917;
--darkgoldenrod:#AF9B60;
--copper:#AF7817;
--wood:#B87333;
--oakbrown:#966F33;
--moccasin:#806517;
--armybrown:#827839;
--sandstone:#827B60;
--mocha:#786D5F;
--taupe:#493D26;
--coffee:#483C32;
--brownbear:#6F4E37;
--reddirt:#835C3B;
--sepia:#7F5217;
--orangesalmon:#7F462C;
--rust:#C47451;
--redfox: #C36241;
--chocolate:#C35817;
--sedona:#C85A17;
--papayaorange:#CC6600;
--halloweenorange:#E56717;
--pumpkinorange:#E66C2C;
--constructionconeorange: #F87217;
--sunriseorange:#F87431;
--mangoorange:#E67451;
--darkorange:#FF8040;
--coral:#F88017;
--basketballorange:#FF7F50;
--lightsalmon:#F88158;
--tangerine:#F9966B;
--darksalmon:#E78A61;
--lightcoral:#E18B6B;
--beanred:#E77471;
--valentinered:#F75D59;
--shockingorange:#E55451;
--red:#FF0000;
--scarlet:#FF2400;
--rubyred:#F62217;
--ferrarired:#F70D1A;
--fireenginered:#F62817;
--lavared:#E42217;
--lovered:#E41B17;
--grapefruit:#DC381F;
--chestnutred:#C34A2C;
--cherryred:#C24641;
--mahogany:#C04000;
--chillipepper:#C11B17;
--cranberry:#9F000F;
--redwine:#990012;
--burgundy:#8C001A;
--chestnut:#954535;
--bloodred:#7E3517;
--sienna:#8A4117;
--maroon:#800517;
--plumpie:#7D0541;
--velvetmaroon:#7E354D;
--plumvelvet: #7D0552;
--rosyfinch:#7F4E52;
--puce:#7F5A58;
--dullpurple:#7F525D;
--rosybrown:#B38481;
--khakirose:#C5908E;
--pinkbow:#C48189;
--lipstickpink:#C48793;
--rose:#E8ADAA;
--rosegold:#ECC5C0;
--desertsand:#EDC9AF;
--pigpink:#FDD7E4;
--cottoncandy:#FCDFFF;
--pinkbubblegum:#FFDFDD;
--mistyrose:#FBBBB9;
--pink:#FAAFBE;
--lightpink:#FAAFBA;
--flamingopink:#F9A7B0;
--pinkrose:#E7A1B0;
--pinkdaisy:#E799A3;
--cadillacpink:#E38AAE;
--carnationpink:#F778A1;
--blushred:#E56E94;
--hotpink:#F660AB;
--watermelonpink:#FC6C85;
--violetred:#F6358A;
--deeppink:#F52887;
--pinkcupcake:#E45E9D;
--pinklemonade:#E4287C;
--neonpink:#F535AA;
--magenta:#FF00FF;
--dimorphothecamagenta:#E3319D;
--brightneonpink:#F433FF;
--palevioletred:#D16587;
--tulippink:#C25A7C;
--mediumvioletred:#CA226B;
--roguepink:#C12869;
--burntpink:#C12267;
--bashfulpink:#C25283;
--darkcarnationpink:#C12283;
--plum:#B93B8F;
--violapurple:#7E587E;
--purpleiris:#571B7E;
--plumpurple:#583759;
--indigo:#4B0082;
--purplemonster:#461B7E;
--purplehaze:#4E387E;
--eggplant:#614051;
--grape:#5E5A80;
--purplejam:#6A287E;
--darkorchid:#7D1B7E;
--purpleflower:#A74AC7;
--mediumorchid:#B048B5;
--purpleamethyst:#6C2DC7;
--darkviolet:#842DCE;
--violet:#8D38C9;
--purplesagebush:#7A5DC7;
--lovelypurple:#7F38EC;
--purple:#8E35EF;
--aztechpurple:#893BFF;
--mediumpurple:#8467D7;
--jasminepurple: #A23BEC;
--purpledaffodil:#B041FF;
--tyrianpurple:#C45AEC;
--crocuspurple:#9172EC;
--purplemimosa:#9E7BFF;
--heliotropepurple:#D462FF;
--crimson:#E238EC;
--purpledragon:#C38EC7;
--lilac:#C8A2C8;
--blushpink:#E6A9EC;
--mauve:#E0B0FF;
--wisteriapurple:#C6AEC7;
--blossompink:#F9B7FF;
--thistle:#D2B9D3;
--periwinkle:#E9CFEC;
--lavenderpinocchio:#EBDDE2;
--lavenderblue:#E3E4FA;
--pearl:#FDEEF4;
--seashell:#FFF5EE;
--milkwhite:#FEFCFF;
--white:#FFFFFF;
}