<ion-item-divider class="ionItemDividerMenu">
  <ion-menu side="start" contentId="myContent">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="paper" slot="start"></ion-icon>
          <ion-label style="margin: 0; position: relative; height: 100%; top: 35%;" (click)="openManage()">Gerenciar
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label style="margin: 0; position: relative; height: 100%; top: 35%;" (click)="openRegisters()">Registros
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trending-up" slot="start"></ion-icon>
          <ion-label style="margin: 0; position: relative; height: 100%; top: 35%;" (click)="openInvestments()">
            Investimentos</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label style="margin: 0; position: relative; height: 100%; top: 35%;" (click)="openConfigures()">
            Configurações</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="myContent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>
</ion-item-divider>

<ion-slides class="ionSlidesSaldoPagar" #ionSlidesSaldoPagar pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card class="ionCardSaldo">
      <ion-card-content class="ionCardContentSaldo">
        <ion-card-title class="ionCardTitleSaldo">
          Saldo atual:
        </ion-card-title>
        <ion-label id="saldoAtualLabel" (click)="openRegisters()" class="ionLabelSaldo">
          R$
          <ion-label #totalSaldo> 200,00</ion-label>
        </ion-label>
        <ion-icon name="eye" class="ionIconEyeSaldo" (click)="hideSaldo()"></ion-icon>
        <ion-icon #eyeOff name="eye-off" class="ionIconEyeOffSaldo" (click)="showSaldo()"></ion-icon>
        <ion-label class="ionLabel2Saldo">
          A receber: R$<ion-label #receber> 1050,00</ion-label>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card class="ionCardPagar">
      <ion-card-content class="ionCardContentPagar">
        <ion-card-title class="ionCardTitlePagar">
          A pagar:
        </ion-card-title>
        <ion-label class="ionLabelPagar">
          R$ <ion-label #totalPagar>200,00</ion-label>
        </ion-label>
        <ion-icon name="eye" class="ionIconEyePagar" (click)="hidePagar()"></ion-icon>
        <ion-icon #eyePagar name="eye-off" class="ionIconEyeOffPagar" (click)="showPagar()"></ion-icon>
        <ion-label class="ionLabel2Pagar">
          Pagar até receber: R$ <ion-label #pagar>150,00</ion-label>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-item-divider class="ionItemDivider">
  <ion-label>
    Movimentações e Registros
  </ion-label>
</ion-item-divider>

<ion-content class="ionContent">
  <ion-list class="ionList">
    <ion-item *ngFor="let item of items" (click)="expandItem(item)">
      <ion-label>
        {{item.name}}
      </ion-label>
      <ion-label>
        <!-- <app-expandable-component style="display: flex; position: relative; left: 60%; top: 30%;" expandHeight="100px"
          [expanded]="item.expanded"> -->
        {{item.valor}}
        <!-- </app-expandable-component> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Inserir modo noturno, verificar local e ajustar alguns processos -->
<!-- <ion-label>Modo noturno</ion-label>
<ion-toggle color="dark" (ionChange)="toggleIsActive($event)"></ion-toggle> -->