<ion-card
  style="display: flex;position: absolute;bottom: 0;width: -webkit-fill-available;justify-content: space-between;">
  <ion-card-content style="background-color: red;color: white;padding: 23px;    width: -webkit-fill-available;">
    <ion-card-title style="color:white;font-size: large;">
      A pagar:
    </ion-card-title>
    R$ 100,00
  </ion-card-content>
  <ion-card-content style="background-color: greenyellow;color: black;padding: 23px;    width: -webkit-fill-available;">
    <ion-card-title style="color:black;font-size: large;">
      Saldo atual:
    </ion-card-title>
    200,00
  </ion-card-content>
</ion-card>